/* pt-sans-regular - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('PT Sans'), local('PTSans-Regular'),
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v11-latin_cyrillic-regular.svg#PTSans') format('svg'); /* Legacy iOS */
}
/* pt-sans-700 - latin_cyrillic */
@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/pt-sans-v11-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('PT Sans Bold'), local('PTSans-Bold'),
       url('../fonts/pt-sans-v11-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/pt-sans-v11-latin_cyrillic-700.svg#PTSans') format('svg'); /* Legacy iOS */
}

body {
  min-width: 1280px;
  margin: 0;
  padding: 0;
  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
  background-color: #f2f2f2;
}
.container-wrapper {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0px 5px 15px 0 rgba(0, 1, 1, 0.2);
}
.catalog-page {
  background-color: #fefefe;
}
a {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0px;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  font-weight: bold;
  color: #ffffff;
  text-align: center;
  vertical-align: middle;
  border: none;
}

/* ---------------- HEADER ----------------- */
.header {
  display:flex;
  background-color: #ffffff;
  max-height: 56px;
}
.nav-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.nav-item {
  width: 239px;
  text-align: center;
}
.nav a{
  color: #000000;
  font-weight: bold;
}
.nav a:hover,
.nav a:focus {
  color: #81b3d2;
}
.nav a:active{
  color: rgba(0, 0, 0, 0.3);
}
.nav .current-page,
.nav .current-page:hover,
.nav .current-page:focus,
.nav .current-page:active {
  color: #766357;
}

/* ---------------- MAIN ----------------- */
.welcome-sedona {
  min-height: 725px;
  text-align: center;
  background: url("../img/white-mask.svg") no-repeat,
  #dbe9f2 url("../img/background-index.jpg") no-repeat;
}
.image-welcome-sedona {
  margin-top: 76px;
  margin-bottom: 79px;
}
.text-welcome-sedona {
  padding-left:300px;
  padding-right: 300px;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
}
.text-welcome-sedona p:first-child {
  padding-top: 61px;
  font-size: 21px;
  font-weight: bold;
}
.text-welcome-sedona p:last-child {
  margin-top: 38px;
  color: #333333;
  padding-bottom: 56px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.real-city,
.devil-bridge {
  display: flex;
  margin: 0;
  padding: 0;
  flex-wrap: wrap;
}
.real-city div,
.devil-bridge div{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  flex-shrink: 1;
  width: 320px;
  padding-left: 40px;
  padding-right: 40px;
}
.real-city img,
.devil-bridge img {
  width: 800px;
  flex-shrink: 2;
}
.devil-bridge img {
  order: -1;
}

.features-item h3,
.features-item p,
.features-item span {
  text-align: center;
}
.features-item h3{
  font-size: 21px;
  line-height: 21px;
  font-weight: bold;
}
.features-item p {
  line-height: 21px;
  color: #333333;
}
.illustrated-feature h3,
.illustrated-feature span,
.illustrated-feature p {
  color: #ffffff;
}
div.illustrated-feature {
  background-color: #81b3d2;
}

.city-feature,
.sublist-item {
  width: 400px;
}
.city-feature h3 {
  margin-top: 161px;
  margin-bottom: 26px;
}
.city-feature p {
  margin-bottom: 87px;
}
.city-feature-house::before,
.city-feature-food::before,
.city-feature-gift::before {
  content: "";
  position: absolute;
  background-repeat:no-repeat;
  margin-top: 60px;
}

.city-feature-house::before {
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
}
.city-feature-food::before {
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-2.svg");
}
.city-feature-gift::before {
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-3.svg");
}
.sublist-item {
  background-color: #eeeeee;
  /* высота задана временно для сетки */
  min-height: 256px;
}
.sublist-item span{
  display: block;
}
section.search {
  display: flex;
  flex-direction:column;
  align-items:center;
  margin: 0;
  padding: 0;
  /* высота временно для сетки */
  min-height: 291px;
}
.want-to-search p:first-child {
  font-size: 30px;
  font-weight: bold;
  line-height: 36px;
  text-align: center;
  margin-top: 57px;
}
.want-to-search p:last-child {
  line-height: 24px;
  text-align: center;
  margin-bottom: 52px;
}
.btn-popup {
  width: 568px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.btn-popup,
.btn-submit-booking {
  font-size: 21px;
  text-transform: uppercase;
}
.btn-popup,
.btn-booking {
  background-color: #766357;
}
.btn-popup:hover,
.btn-booking:hover {
  background-color: #604e43;
}
.btn-popup:focus,
.btn-booking:focus {
  background-color: #604e43;
  outline: 2px solid black;
}
.btn-popup:active,
.btn-booking:active  {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
  outline: none;
}
  /* .popup-booking {
  display: none;
} */
.popup-booking-wrapper {
  padding: 55px;
  font: inherit;
  font-weight:bold;
  text-align: left;
  box-shadow: 0px 7px 15px 0 rgba(0, 1, 1, 0.15);
}
p.popup-booking {
  margin: 0;
}
p.popup-booking:not(:first-child) {
  margin-top: 30px;
}
.popup-booking label[for="date-of-arrive"] {
  margin-right: 21px;
}
.popup-booking label[for="date-of-departure"] {
  margin-right: 17px;
}
.popup-booking label[for="number-of-adults"] {
  margin-right: 41px;
}
.popup-booking label[for="number-of-children"] {
  margin-left: 53px;
  margin-right: 27px;
}

.popup-booking input{
  width: 280px;
  font: inherit;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
}
.popup-booking input:hover {
  background-color: #ebebeb;
}
.popup-booking input:focus {
  background-color: transparent;
  outline: 2px solid #e5e5e5;
}
.popup-booking input[type="number"] {
  width: 38px;
  text-align: center;
}
.popup-booking input::placeholder {
  color: #000000;
}
.btn-submit-booking {
  margin-top: 54px;
  padding: 17px 192px 22px;
}
.btn-submit-booking,
.btn-about {
  background-color: #81b3d2;
}
.btn-submit-booking:hover,
.btn-about:hover {
  background-color: #669ec0;
}
.btn-submit-booking:focus,
.btn-about:focus {
  background-color: #669ec0;
  outline: 2px solid #6672c0;
}
.btn-submit-booking:active,
.btn-about:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
  outline: none;
}

.find-hotel {
  display: flex;
  flex-wrap: wrap;
  padding-top: 25px;
  padding-left: 72px;
  padding-right: 72px;
  color: #ffffff;
  background-color: #3e698b;
  background-image: url("../img/filter-background.jpg");
  background-position: 0 40%; /*40% - временное смещение, чтобы белый текст был читабелен на этом фоне*/
  background-repeat: no-repeat;
}
.find-hotel fieldset {
  margin: 0;
  padding: 0;
  border: none;
}
.find-hotel legend {
  margin-bottom: 25px;
}
.find-hotel legend,
.range-slider {
  font-size: 16px;
  font-weight: bold;
  line-height: 21px;
}
.find-hotel ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 240px;
  list-style: none;
  line-height: 21px;
}
.hotel-infrastructure li,
.hotel-type li {
  margin-bottom: 22px;
}
.hotel-infrastructure li:last-child
.hotel-type li:last-child {
  margin-bottom: 31px;
}
.range-slider {
  width: 354px;
  margin-left: auto;
}
.range-slider input,
.search-btn {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  background-color: transparent;
  border: 2px solid white;
}
.range-slider input {
  margin-top: 13px;
  margin-bottom: 60px;
}
.search-btn:hover,
.search-btn:focus {
  color: #000000;
  background-color: #ffffff;
}
.search-wrapper {
  display: flex;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e5e5e5;
}

.search-results {
  display: flex;
  align-items: baseline;
  width: 600px;
}
.search-results ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}
.search-results span:first-child {
  margin-left: 70px;
  margin-right: 35px;
  font-size: 21px;
  font-weight: bold;
}
.search-results span:nth-child(2) {
  margin-right: 30px;
}
.search-results li {
 margin-right: 25px;
}
.search-results li:last-child {
  margin-right: 0;
}
.search-results span:nth-child(2),
.search-sorting a {
  font-size: 12px;
  line-height: 18px;
}
.search-sorting a {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: underline dotted #81b3d2;
}
.search-sorting a:hover,
.search-sorting a:focus {
  color: #81b3d2;
}
.search-sorting a:active {
  color: #000000;
  text-decoration: none;
}
.search-sorting .current-sorting,
.search-sorting .current-sorting:hover,
.search-sorting .current-sorting:focus,
.search-sorting .current-sorting:active {
  color: #81b3d2;
  text-decoration: none;
}
.hotels-results {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.hotels {
  display: flex;
  flex-wrap: wrap;
  padding: 0 72px;
  border: 1px solid #e5e5e5;
}
.hotels p {
  margin: 0;
}
.hotels img {
  margin: 30px 30px 30px 0;
}
.hotels-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  width: 300px;
  margin-top: 30px;
  margin-bottom: 30px;
}
.hotels-results h3 {
  margin: 0;
  font-size: 21px;
  font-weight: bold;
}
.hotels-info-wrapper span {
  width: 110px;
  margin-right: 6px;
}
.btn-wrapper {
  display: flex;
}
.btn-wrapper .btn-about {
  width: 110px;
  margin-right: 6px;
}
.btn-wrapper .btn-booking {
  width: 142px;
}
.raiting-info-wrapper {
  margin-top: 29px;
  margin-left: auto;
  width: 110px;

}
.hotel-raiting {
  padding-top: 3px;
  padding-bottom: 3px;
  color: #666666;
  line-height: 21px;
  text-align: center;
  background-color: #f2f2f2;
}

/* ---------------- FOOTER ----------------- */
.index-footer {
  background-color: #ffffff;
  padding: 36px 0;
}
.index-footer a{
  color: inherit;
}
.footer-container {
  display: flex;
  margin: 0;
  padding: 0;
}
.footer-contacts {
  margin: 0;
  margin-left: 125px;
  margin-right: 162px;
  width: 230px;
  font-size: 21px;
  font-weight: bold;
}
.footer-social {
  margin: 0;
  padding: 0;
  margin-right: 225px;
  width: 150px;
}
ul.footer-social {
  list-style: none;
}
.footer-copyright {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-right: 100px;
  width: 210px;
}
.footer-copyright path:hover {
  fill: #81b3d2;
}
.footer-copyright path:active {
  fill:#bdbbbc;
}
